<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Investments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .verticalLine {
          border-left: 0.3vw solid #343434;
          height: 100vh;
        }
        div.ex4 {
        width: 100%;
        height: 39vh;
        overflow: auto;
        }
      </style>
</head>
<body>
    <div class="d-flex"> 
        <div class="d-flex" style="width: 25%;"> 
            <%- include('partials/sideNav.ejs') %>
            <div class="verticalLine"></div>
        </div>
        <div style="width: 75%;"> 
            <div style="height: 10vh;width: 100%;" class="container bg-secondary"> 

              <% if(role==='investor') {%>
                <h3 style="font-weight: 400;color: white;" class=" position-absolute top-0 mt-4 px-5">
                  <%= `${data.greeting()}, `%>Your Balance : <%= toCurrencyRupiah(data.UserDetail.balance) %> 
                </h3>
                <% } %> 

              <form class="d-flex position-absolute top-0 end-0 mt-4 px-5">
                <input class="form-control me-2" type="search" placeholder="Search stock" aria-label="Search" name="search">
                <button class="btn btn-primary" type="submit">Search</button>
              </form>
            </div>
            <div class="ex4"> 
            <table class="table table-hover position-absolute top-50 ms-5" style="width: 65%;"  >
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">code</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Lot</th>
                            <th scope="col">Price now</th>
                            <th scope="col">Price was</th>
                            <th scope="col">Profit</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                    <tbody .table-hover>
                      <% data.Investments.forEach((el,i)=>{ %>
                        <tr>
                          <th scope="row"><%= i+1 %></th>
                          <td><%= el.name %></td>
                          <td><%= el.Stock.name %></td>
                          <td><%= el.lot %></td>
                          <td><%= el.Stock.price %></td>
                          <td><%= el.Stock.previous('price') %></td>
                          <td><%=toCurrencyRupiah(profit(el.Stock.price,el.Stock.previous('price'),el.lot)) %></td>
                          <td><a href="investments/<%= el.id %>/sell" class="btn btn-outline-danger">Sell</a></td>
                        </tr>
                      <% }) %> 
                      </tbody>
                      </div>
                </table>
              </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>