<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .verticalLine {
          border-left: 0.3vw solid #343434;
          height: 100vh;
        }
        div.ex4 {
        width: 100%;
        height: 39vh;
        overflow: auto;
        }
      </style>
</head>
<body>
    <div class="d-flex"> 
        <div class="d-flex" style="width: 25%;"> 
            <%- include('partials/sideNav.ejs') %>
            <div class="verticalLine"></div>
        </div>
        <div style="width: 75%;"> 
            <div style="height: 10vh;width: 100%;" class="container bg-secondary"> 
              <h3 style="font-weight: 400;color: white;" class=" position-absolute top-0 mt-4 px-5">
                Stock List
              </h3>
              <div class="btn-group position-absolute top-0 end-0 mt-4 px-5" role="group" aria-label="Basic radio toggle button group">
                <a href="/stocks"> 
                  <label class="btn btn-primary ms-1" for="btnradio1">All</label>
                </a>
                <a href="/stocks/?filter=low"> 
                  <label class="btn btn-primary ms-1" for="btnradio1">Low Risk</label>
                </a>
                <a href="/stocks/?filter=high"> 
                  <label class="btn btn-primary ms-1" for="btnradio1">High Risk</label>
                </a>
              </div>
            </div>
            <div class="chart-container" style="position: absolute; width: 40vw;">
              <canvas id="myChart"></canvas>
            </div>

            <div class="ex4">
              <% if (error) { %>
                <br>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>
            <table class="table table-hover position-absolute top-50 ms-5" style="width: 65%;"  >
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Lots</th>
                            <th scope="col">Remaining Lots</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                    <tbody .table-hover>
                      <% data.forEach((el,i)=>{ %>
                        <tr>
                          <th scope="row"><%= i+1 %></th>
                          <td><%= el.name %></td>
                          <td><%= el.type %></td>
                          <td><%= el.price %></td>
                          <% if (role === `company` && el.CompanyId === id) { %>
                            <td><form method="POST" action="/stocks/<%= el.id %>/update"><input type="number" name="amount" value="<%=el.totalLots%>"><input type="submit" class="btn btn btn-outline-success" value="Update"></form></td> 
                          <% } else { %>
                            <td><%= el.totalLots %></td>
                          <% } %>
                          <td><%= el.totalLots-bought[i] %></td>
                          <% if (role === `investor`) { %>
                            <td><form method="POST" action="/stocks/<%= el.id %>/buy"><input type="number" name="amount"><input type="submit" class="btn btn btn-outline-success" value="Buy"></form></td>
                          <% } %>
                        </tr>
                      <% }) %> 
                      </tbody>
                      </div>
                </table>

            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
  const labels = [
    'CYAD',
    'CLIRW',
    'KBLMU',
    'VIVE',
    'OXBR'
    ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Total Lots',
      backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'],
      borderColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'],
      data: [650,632,736,813,767],
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</html>